.detail-section{
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-explanation {
  display: flex;
  width: 80%;
  margin-top: 4rem;
  margin-bottom: 4rem;  

  .detail-ingridients{
    text-align: right;
    padding: 0.4rem 2rem;
    margin-top: 7.7rem;
    line-height: 2;
    direction: rtl;
    background-color: rgb(249, 236, 208);
  }

  .detail-ingridients li{
    padding: 0.5rem;
  }

  .detail-ingridients span {
    direction: ltr;
    display: inline-block;
  }
  
  .detail-method{
    width: auto;
    height: auto;
    text-align: left;
    padding: 1rem 2rem;
    line-height: 2;
  }

  .detail-method h3 {
    text-align: left;
    padding: 0rem 2rem;
    margin: 0;
  }

  .detail-method ol {
    margin-top: 0;  
  }

  .detail-method li {
    padding: 0.5rem;
  }

  .prep-time-detail{
    font-size: 1rem;
    margin-left: 2rem;
  }
}

.detail-ingridients h3 {
  text-align: right;
  padding: 0;
  margin: 0;
}

.detail-section .recipeImg {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
  margin: 0;
  border-bottom: 16px solid rgb(11, 151, 32);
}

.detail-section h2 {
  font-size: 2.4rem;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-left: 1.6rem;
  margin-bottom: 2rem;
  color: rgb(106, 106, 106);
  border-bottom: 2px solid rgb(106, 106, 106);
}

.home-btn{
  position: fixed;
  right: 2.2rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(106, 106, 106);
  font-family: Playfair Display;
  font-weight: bold;
}