

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cardSectionContainer {
    animation: fadeIn 1s ease-in-out;
}

.cardSection {
    padding: 2rem;
    padding-top: 4rem;
    border-bottom: 16px solid rgb(11, 151, 32);
}

.heroImg {
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    object-fit: cover;
    margin: 0;
    border-bottom: 16px solid rgb(11, 151, 32);
}

.card img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    /* margin: 1rem 1rem 0rem 1rem; */
    border-radius: 6px 6px 0px 0px;
}

h1 {    
    text-align: center;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: rgb(52, 52, 52);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

h3 {
    text-align: left;
    margin: 0.5rem 1rem 0.5rem 1rem;
    font-weight: 700;
    color: rgb(188, 1, 1);
    margin-bottom: 0.2rem;
}

h4 {
    padding: 0;
    margin: 0;
    margin: 0rem 1rem;

}

h4 {
    color: rgb(71, 71, 71);
    font-size: 0.8rem;
    word-wrap: break-word; /* Add this line */
}

.cardBottomText {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0rem 1rem;
    padding-bottom: 0.6rem;
    padding-top: 1rem;
}

<<<<<<< HEAD:src/styles/RecipeCard.css
=======
.cardBottomText h5 {
    margin: 0;
    padding: 0;
}

.cardBottomText h6 {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    opacity: 0;
}

.card:hover .cardBottomText h6 {
    color: rgb(8, 139, 27);
    transition: 0.5s 0.7s;
    opacity: 1;
}


>>>>>>> cjBranch:src/view/RecipeCard.css
.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
}

.heroCards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 0rem;
}

.card {
    transition: transform 0.5s;
    padding: 0rem;
    background-color: rgb(249, 236, 208);
    margin: 1.4rem;
    border-radius: 6px;
}

.card-body {
    max-width: 320px;
<<<<<<< HEAD:src/styles/RecipeCard.css
}

.type-filter{
    display: flex;
    justify-content: center;
    gap: 1rem;

    & button{
        border-radius: 5px;
        border-color: none;
        background-color:#513200;
        padding: .5rem 1rem;
        color: white;
    }
=======
    display: flex;
    flex-direction: column;
    justify-content: space-between;
>>>>>>> cjBranch:src/view/RecipeCard.css
}