.detail-section{
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 16px solid rgb(11, 151, 32);
  padding-bottom: 6rem;
}

.detail-section .recipeImg {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
  margin: 0;
  border-bottom: 16px solid rgb(11, 151, 32);
}

.detail-section h2 {
  font-size: 2.6rem;
  padding: 0rem 0rem;
  margin: 0;
  color: rgb(106, 106, 106);
  border-bottom: 2px solid rgb(106, 106, 106);
  align-self: center;
  width: 50%;  
  padding-left: 3rem;
}

.recipeInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  width: 70%;
}

.left {
  height: 100%;
  margin: 0rem 3rem;
}

.detail-ingridients{
  width: 350px;
  background-color: #f9ecd0;
  padding-right: 2rem;
  text-align: right;
}

.detail-ingridients h3 {
  padding: 1rem 2rem;
  margin: 0;
  text-align: right;
  font-size: 1.5rem;
}

.detail-ingridients ul {
  padding: 0rem 1rem 4rem 3rem;
  margin: 0;
  text-align: right;
  direction: ltr;
}

.detail-ingridients li {
  padding: 0.8rem;
  margin: 0;
  font-size: 1.2rem;
}

.right ol {
  padding: 0;
  margin: 0;
}

.detail-explanation {
  display: flex;
}

.detail-method h3 {
  padding: 1rem 2rem;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

.detail-method ol {
  padding: 0rem 1rem 4rem 3rem;
  margin: 0;
  text-align: left;
  direction: ltr;
}

.detail-method li {
  padding: 0.8rem;
  margin: 0;
  font-size: 1.2rem;
}

.prep-time-detail h4 {
  color: rgb(11, 151, 32);
  font-size: 1rem;
  padding: 1rem;
}

.home-btn{
  background-color: transparent;
  border: none;
  color: rgb(106, 106, 106);
  cursor: pointer;
  color: rgb(227, 7, 19);
  align-self: flex-end;
  margin-right: 7rem;
  margin-left: 7rem;
  padding-top: 6rem;
  position: relative;
}

.home-btn:hover{
  color: rgb(255, 199, 68);
}



@media screen and (max-width: 800px) {
  .recipeInfoContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .detail-section h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .left {
    margin: 0;
    padding: 0;
  }

  .left ul {
    padding: 0;
    margin: 0;
  }
  .detail-ingridients{
    width: auto;
    margin: 1.4rem;
    padding: 0;
    text-align: left;
  }

  .detail-ingridients h3 {
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  .detail-ingridients ul {
    padding: 0rem 1rem 0rem 3rem;
    margin: 0;
    text-align: left;
    direction: ltr;
  }

  .home-btn{
    background-color: transparent;
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    top: 3rem;
    right: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 249, 236, 0.662);
    padding: 0.4rem;
  }
}


@media screen and (min-width: 801px) and (max-width: 1200px) {
  .recipeInfoContainer {
    display: flex;
    flex-direction: row;
    margin: 0;  
    padding: 0;
    width: 100%;
  }

  .detail-section h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    padding-left: 6rem;
  }

  .left {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
  }

  .right {
    padding-right: 4rem;
    margin-top: 1rem;
  }

  .left ul {
    padding: 0;
    margin: 0;
  }
  .detail-ingridients{
    width: auto;
    margin: 1.4rem;
    padding: 0;
    text-align: left;
    width: 350px;
    margin-left: 3rem;
  }

  .detail-ingridients h3 {
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  .detail-ingridients ul {
    padding: 0rem 1rem 0rem 3rem;
    margin: 0;
    text-align: left;
    direction: ltr;
  }

  .right h3 {
    padding: 1rem 2rem;
  }
}