.detail-section{
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 16px solid rgb(11, 151, 32);
  padding-bottom: 6rem;
}

.detail-section .recipeImg {
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  object-fit: cover;
  margin: 0;
  border-bottom: 16px solid rgb(11, 151, 32);
}

.detail-section h2 {
  font-size: 2.6rem;
  padding: 3rem 0rem;
  margin: 0;
  color: rgb(106, 106, 106);
  border-bottom: 2px solid rgb(106, 106, 106);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  width: 50%;  
  padding-left: 3rem;
}

.recipeInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  width: 70%;
}

.left {
  height: 100%;
  margin: 0rem 3rem;
}

.detail-ingridients{
  width: 350px;
  background-color: #f9ecd0;
  padding-right: 2rem;
  text-align: right;
}

.detail-ingridients h3 {
  padding: 1rem 2rem;
  margin: 0;
  text-align: right;
  font-size: 1.5rem;
}

.detail-ingridients ul {
  padding: 0rem 1rem 4rem 3rem;
  margin: 0;
  text-align: right;
  direction: ltr;
}

.detail-ingridients li {
  padding: 0.8rem;
  margin: 0;
  font-size: 1.2rem;
}

.right ol {
  padding: 0;
  margin: 0;
}

.detail-explanation {
  display: flex;
}

.detail-method h3 {
  padding: 1rem 2rem;
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

.detail-method ol {
  padding: 0rem 1rem 4rem 3rem;
  margin: 0;
  text-align: left;
  direction: ltr;
}

.detail-method li {
  padding: 0.8rem;
  margin: 0;
  font-size: 1.2rem;
}

.home-btn{
  right: 2.2rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: rgb(106, 106, 106);
  font-family: Playfair Display;
  font-weight: bold;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .recipeInfoContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .detail-section h2 {
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .left {
    margin: 0;
    padding: 0;
  }

  .left ul {
    padding: 0;
    margin: 0;
  }
  .detail-ingridients{
    width: auto;
    margin: 1.4rem;
    padding: 0;
    text-align: left;
  }

  .detail-ingridients h3 {
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  .detail-ingridients ul {
    padding: 0rem 1rem 0rem 3rem;
    margin: 0;
    text-align: left;
    direction: ltr;
  }
}


@media screen and (min-width: 801px) and (max-width: 1200px) {
  .recipeInfoContainer {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .detail-section h2 {
    margin-bottom: 1rem;
    margin-top: 3rem;
    width: 100%;
    padding-left: 6rem;
  }

  .left {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
  }

  .right {
    padding-right: 4rem;
    margin-top: 1rem;
  }

  .left ul {
    padding: 0;
    margin: 0;
  }
  .detail-ingridients{
    width: auto;
    margin: 1.4rem;
    padding: 0;
    text-align: left;
    width: 350px;
    margin-left: 3rem;
  }

  .detail-ingridients h3 {
    padding: 1rem 2rem;
    margin: 0;
    text-align: left;
    font-size: 1.5rem;
  }

  .detail-ingridients ul {
    padding: 0rem 1rem 0rem 3rem;
    margin: 0;
    text-align: left;
    direction: ltr;
  }

  .right h3 {
    padding: 1rem 2rem;
  }
}