/* RESET */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;

  .nav-logo {
    font-weight: bold;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;

    :hoover {
      color: #000;
    }
  }
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
