@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&display=swap');

/* RESET */
* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

header {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  border-bottom: 16px solid rgb(227, 7, 19);
  height: 140px;
  width: 100%;
  background-color: rgb(255, 249, 236);
}

.logo {
  width: auto;
  height: 100px;
  object-fit: fill;
  padding: 0.6rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;

}

.logo:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
  opacity: 0.8;
}


html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 249, 236);
}

ul, li {
  padding: 0;
  margin: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* FOOTER SECTION */
footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border-top: 16px solid rgb(227, 7, 19);
}

/* THE LOADER AND ANIMATIONS */
.loadingDiv {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderAnimation {
  width: 30px;
  aspect-ratio: 1;
  background:rgb(227, 7, 19);
  animation: l1 1.5s infinite;
}

@keyframes l1 {
  0%,
  100%{transform:translate(-30px,-30px);box-shadow:  0     0    #ffffff, 0     0    #109800}
  40% {transform:translate( 30px, 30px);box-shadow: -10px -10px #ffffff,-20px -20px #109800}
  50% {transform:translate( 30px, 30px);box-shadow:  0     0    #ffffff, 0     0    #109800}
  90% {transform:translate(-30px,-30px);box-shadow:  10px  10px #f5f4f4, 20px  20px #109800}
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 200,
  'wght' 800,
  'GRAD' 0,
  'opsz' 48;

  font-size: 2.5em;
}

